// Forms
.form-page{
    //Assets
    img {
        &.img-poker-chips-3 {
            content: url('../../images/poker_chips_3.png');
            height: 340px;
            width: auto;
            position: absolute;
            top: 55%;
            left: 45%;
            transform: translate(-50%,-50%);
        }
    }

    .form-background {
        position: absolute;
        right: 300px;
        top: 48vh;
        transform: translate(50%,-50%);
        z-index: -1;
    }
    
    .form-background .blurry-circle-1 {
        width: 1400px;
        height: 1400px;
    }

    form {
        background-color: $form-bg;
        padding: 64px 64px 0 64px;
        border-radius: 8px;
    
        .submit-btn {
            position: relative;
            top: 50%;
        }

        input {
            background-color: $form-input-bg;
            border-radius: 8px;
            &[type="text"], &[type="email"], &[type="password"]{
                height: 48px;
                border: 0;
                padding: 0 18px;
                &:focus{
                    outline: none;
                    border: 0;
                    box-shadow: 0 0 0 0.15rem $input-icon-color;
                }
            }
            &[type="checkbox"] {
                border: 0;
                &:focus{
                    outline: none;
                    border: 0;
                    box-shadow: none;
                }
            }
        }

        .input-container {
            position: relative;

            input + .input-icon {
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translate(-50%,-50%);
                vertical-align: middle;
                font-size: 1.5rem;
                color: $input-icon-color;
            }
            input:autofill + .input-icon {
                color: black;
            }
        }

        .form-grey {
            color: $form-grey;
            font-weight: 600;
        }
        .form-green {
            color: $form-green;
            font-weight: bold !important;
        }
        .form-red {
            color: $form-red;
            font-weight: bold !important;
        }

        .was-validated .form-control:invalid, .form-control.is-invalid {
            background-position: right calc(0.375em + 0.1875rem + 20px) center;
        }

        .form-stepper{
            align-items: center;
            .step{
                color: $form-grey;
                &.current-step {
                    color: $current-step-color;
                    font-weight: bold !important;
                }
                &.completed-step {
                    font-weight: bold !important;
                    color: white;
                    .bi-circle-fill, .bi-dash-lg {
                        color: $current-step-color;
                    }
                }
                .bi-dash-lg {
                    position: relative;
                    left: 8px;
                    z-index: 0;
                    font-size: 32px;
                }
                .bi-circle {
                    position: relative;
                    background-color: $form-bg;
                    border-radius: 50%;
                    z-index: 1;
                    &::before {
                        font-weight: bold !important;
                    }
                }
                display: flex;
                align-items: center;
            }
        }
    }
}