// Sizes
$header-height: 64px;
$header-logo-height: 32px;

// Colors
$header-bg: linear-gradient(180deg, #000000 0%, #141414 100%);
$body-bg: #000000;
$body-color: #FFFFFF;
$link-color: #F2F5FA;
$button-color: #4040F4;
$button-color-hover: #BFC9DB;
$arrow-up-color: #05F28E;
$custom-card-bg: #232323;

$mobile-gradient: linear-gradient(#000 0%,#001C77 50%, #000 100%);

$plan-card-colors: #EB4263,#B376F8,#05F28E;

$stepper-collor: #05F28E;

$form-bg: #1C1C1C;
$form-input-bg: #333333;
$input-icon-color: #BFC9DB;
$form-grey: #BFC9DB;
$form-red: #EB4263;
$form-green: #05F28E;

$current-step-color: #05F28E;

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 1rem;
$font-size-sm: $font-size-base * .875;
$font-size-lg: $font-size-base * 1.25;
$h1-font-size: $font-size-base * 2.75; // 44px
$h2-font-size: $font-size-base * 2; // 32px
$h3-font-size: $font-size-base * 1.5; // 24px
$h4-font-size: $font-size-base; // 16px
$h5-font-size: $font-size-base * 0.875; // 14px
$h6-font-size: $font-size-base * 0.75; // 12px

$form-check-input-checked-color: #FFFFFF;
$form-check-input-checked-bg-color: #4040F4;
$form-check-input-width: 1.75em;
$form-check-input-border-radius: 4px;